<div>
    <header>
        <div class="container-fluid">
            <h1>Students Details</h1>
        </div>
    </header>
    <section id="Scrollcontent" ng-scrollbars ng-scrollbars-config="Scrollcontent">
        <div class="pull-right">
            <md-button type="text" class="md-raised md-secondary" ng-click="addStudent()"><md-tooltip>Add student</md-tooltip>Add</md-button>
        </div>
        <div class="container-fluid">
            <div class="grid-large">
                <div kendo-grid k-options="GridArrayOptionsample" k-ng-delay="GridArrayOptionsample" id="StudentListDetailsGridId"></div>
            </div>
        </div>
    </section>
</div>

<script id="StudentListDetailsTemplate" type="text/x-kendo-template">
    <tr>
        <td>
            #:Id#
        </td>
        <td> #:Name#</td>
        <td> #:Sex#</td>
        <td> #:CourseId#</td>
        <td>
            <span style="float:left;">
                <md-button class="md-fab md-mini md-primary" data-ng-click="EditStudent(dataItem)">
                    <i class="fa fa-pencil"></i>
                    <md-tooltip>
                        Edit
                    </md-tooltip>
                </md-button>
            </span>
            <span style="float:left;">
                <md-button class="md-fab md-mini md-warn" data-ng-click="DeleteStudent(dataItem)">
                    <i class="fa fa-trash-o"></i>
                    <md-tooltip>
                        Delete
                    </md-tooltip>
                </md-button>
            </span>
        </td>
    </tr>
</script>